:root{
  --st-patricks-blue : #242F73;
  --background : #F7F7FA;
  --red: #D9042B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

