header{
    height: 100vh;
    width: 30%;

    background-color: var(--st-patricks-blue);

    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    h3{
        color: var(--background);
    }

}